<nav id="mainNavbar" class="navbar navbar-dark navbar-expand-md sticky-top" style="background-color: rgb(23, 5, 104);">
    <div class="container-fluid">
     <a href="#" class="navbar-brand">
         <img src="../../assets/images/brand.png" id="brand-logo" alt=""  class="" width="80" height="80">
        <span> SARX </span>
     </a>
     <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navLinks">
         <span class="navbar-toggler-icon"></span>
     </button>
     <div class="collapse navbar-collapse" id="navLinks">
         <ul class="navbar-nav ms-auto">
             <li class="nav-items">
                 <a href="#" class="nav-link active">Home</a>
             </li>
             <li class="nav-items">
                 <a class="nav-link disabled">About Us</a>
             </li>
             <li class="nav-items">
                 <a class="nav-link disabled">Services</a>
             </li>
             <li class="nav-item ">
                 <a routerLink = "login" class="nav-link">Login</a>
             </li>
             <li class="nav-items">
                 <a routerLink = "" class="nav-link" >SignUp</a>
             </li>
         </ul>
     </div>
 </div>
 </nav>