<div class="header">
    <h1>Corsair</h1>
    <h3>Beyond Imagination</h3>
</div>

<div class="container-fluid" id="room-container">
    <div class="row">
        <div class="col-md-6 room-content">
            <div class="room-item item">
                <img src="https://i.pinimg.com/736x/f4/b7/1a/f4b71a35f670fcd58c5dd68acb591df9--interiordesign-for-the-home.jpg" alt="">
                <div class="overlay-body">
                    <h1>Suit Room</h1>
                    <div class="overlay-text">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas excepturi pariatur quia laudantium sunt dolorum odio odit nobis corrupti deleniti?</p>
                        <div class="price">$199<span>/night</span></div>
                        <a class="btn btn-outline-success">Book Room</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="room-item item">
                <img src="https://cdn.vox-cdn.com/thumbor/Ous3VQj1sn4tvb3H13rIu8eGoZs=/0x0:2012x1341/1400x788/filters:focal(0x0:2012x1341):format(jpeg)/cdn.vox-cdn.com/uploads/chorus_image/image/47070706/google2.0.0.jpg" alt="">
                <div class="overlay-body">
                    <h1>Suit Room</h1>
                    <div class="overlay-text">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas excepturi pariatur quia laudantium sunt dolorum odio odit nobis corrupti deleniti?</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>