
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <form class="row gy-2 gx-3 align-items-center">
                <div class="col-md-4">
                  <!-- <label class="visually-hidden" for="yourName">Name</label> -->
                  <input type="text" class="form-control" id="autoSizingInput" placeholder="Your Name" name="name">
                </div>
                <div class="col-md-4">
                  <!-- <label class="visually-hidden" for="autoSizingInputGroup">Username</label> -->
                  <div class="input-group">
                    <input type="text" class="form-control" id="autoSizingInputGroup" placeholder="Email" name="email">
                  </div>
                </div>
                <div class="col-md-4">
                  <!-- <label class="visually-hidden" for="autoSizingSelect">No. of Rooms</label> -->
                  <select class="form-select" id="autoSizingSelect">
                    <option selected>No of Rooms</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                  </select>
                </div>
                <div class="col-md-4">
                    <!-- <label class="visually-hidden" for="autoSizingInput">Check-in</label> -->
                    <input type="text" data-provide = "datepicker" class="form-control" id="autoSizingInput" placeholder="Check-in">
                  </div>
                  <div class="col-md-4">
                    <!-- <label class="visually-hidden" for="autoSizingInputGroup">Username</label> -->
                    <div class="input-group">
                      <input type="text" data-provide="datepicker" class="form-control" id="autoSizingInputGroup" placeholder="Check-out">
                    </div>
                  </div>
                  <div class="col-md-4">
                    <!-- <label class="visually-hidden" for="autoSizingSelect">Preference</label> -->
                    <select class="form-select" id="autoSizingSelect">
                      <option selected>Room</option>
                      <option value="">Deluxe Room</option>
                      <option value="">Luxury Room</option>
                      <option value="">Premier Room</option>
                      <option value="">Deluxe Suite</option>
                      <option value="">Luxury Suite</option>
                      <option value="">Premier Suite</option>
                    </select>
                  </div>
                <div class="col-auto">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </form>
        </div>
    </div>
</div> 




<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" ></script>
       
       

