<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <title>SAR-X</title>

    <style>
        .c {
            background-image: url("https://is3-ssl.mzstatic.com/image/thumb/Purple111/v4/1e/b8/35/1eb8350c-56ce-f29d-a1a5-3a211734b326/source/512x512bb.jpg");

            height: 1300px;
            background-position: right;
            background-repeat: no-repeat;
            background-size: cover;

        }
        .col-sm-4{
            position: relative;
        }

    </style>

</head>

<body>

    <div class="c">
        <div class="container-fluid">
            <div class="display-4 mb-4">My Bookings</div>
            <div class="row " id="account">
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card card text-white bg-dark mb-3">
                <div class="card-body ">
                    <h5>Booking 1</h5>
                    <div>Passenger Name : Sahith Damarowthu </div><br><br>
                    <div>Date : 23/10/2021</div><br><br>
                    <div>Flight Class : ELITE PRO MAX VIEW-SEAT</div><br><br>
                    <div>Space Room :ULTRA-PRO-MAX </div><br><br>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card card text-white bg-dark mb-3">
                <div class="card-body ">
                    <h5>Booking 1</h5>
                    <div>Passenger Name : Thallam Radha Sravani </div><br><br>
                    <div>Date : 23/10/2021</div><br><br>
                    <div>Flight Class : ELITE PRO VIEW-SEAT</div><br><br>
                    <div>Space Room :Pro-Max </div><br><br>


                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card card text-white bg-dark mb-3">
                <div class="card-body ">
                    <h5>Booking 1</h5>
                    <div>Passenger Name : Sibghatullah Mohammed </div><br><br>
                    <div>Date : 23/10/2021</div><br><br>
                    <div>Flight Class : DELUXE VIEW-SEAT</div><br><br>
                    <div>Space Room : MAX </div><br><br>


                </div>
            </div>
        </div>
    </div>

</body>

</html>